* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.main_width {
  width: 1200px;
  margin: 0 auto;
}

header, section, footer {
  width: 100%
}

/* HEADER */
header {
  background-color: black;
  height: 50px;
  color: white;
  text-transform: uppercase;
}

header #logo {
  float: left;
  padding-top: 15px;
}

header span {
  color: turquoise;
  font-weight: 700;
}

header nav {
  float: right;
  font-weight: 700;
  letter-spacing: 1px;
}

header ul li {
  display: inline-block;
  padding: 15px 20px;
}

header a {
  text-decoration: none;
  color: white;
}

/* SECTION 1 slider*/

#slider {
  background: linear-gradient(white, #CFCFCF);
  height: 400px;
}

#slider .main_width > a {
  text-decoration: none;
  display: inline-block;
  padding-top: 150px;
  height: 400px;
  color: turquoise;
  font-size: 60px;
  vertical-align: top;
}

.box_left {
  width: 550px;
  height: 400px;
  display: inline-block;
  background-image: url("../images/black_chair.png");
  background-size: cover;
}

.box_right {
  width: 550px;
  height: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-right: 100px;
}

.box_right h1 {
  font-weight: 400;
  font-size: 30px;
  padding: 66px 0 25px 0;
}

.box_right h1 span {
  color: turquoise;
  font-weight: 700;
}

.box_right p {
  color: #7C7C7C;
  line-height: 25px;
  padding: 15px 0 45px 0;
}

.box_right a {
  text-decoration: none;
  text-align: center;
  background-color: turquoise;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* SECTION 2 products*/

#products {
  height: 350px;
}

.product {
  height: 250px;
  width: 383px;
  display: inline-block;
  border: 1px solid #CFCFCF;
  margin: 20px 20px 0 0;
  vertical-align: top;
}

.product:last-of-type {
  margin-right: 0;
}

.picture1 {
  background-image: url("../images/box1_img.jpg");
  background-size: 100% 100%;
  background-position: center;
}

.picture2 {
  background-image: url("../images/box2_img.jpg");
  background-size: 100% 100%;
  background-position: center;
}

#products h2 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

#products h2:after {
  content: '';
  display: block;
  background-color: turquoise;
  width: 180px;
  height: 5px;
}

.picture1 h2, .picture2 h2 {
  padding: 10px;
  margin: 180px 0;
}

.text {
  height: 280px;
}

.text h2 {
  padding: 20px 0 0 15px;
}

.text p {
  padding: 15px;
  line-height: 25px;
}

/* SECTION 3 price */

#price_list {
  height: 800px;
  background-color: #EDEDED;
}

#price_list .main_width > h2 {
  font-weight: 400;
  color: #7C7C7C;
  padding: 30px 0;
}

#price_list .main_width > h2:after {
  content: '';
  display: block;
  background-color: turquoise;
  width: 383px;
  height: 5px;
}

.price {
  display: inline-block;
  width: 383px;
  height: 600px;
  border: 1px solid #CFCFCF;
  background-color: #FBFBFB;
  text-align: center;
  margin-top: 40px;
  margin-right: 20px;
  vertical-align: top;
  position: relative;
}

#price_list .price:last-child {
  margin-right: 0;
}

.small_circle {
  background-color: #CFCFCF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #CFCFCF;
  margin: -40px auto;
  box-shadow: inset 0 0 0 15px white;
}

.price h2 {
  font-weight: 400;
  color: turquoise;
  padding: 50px 0;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #CFCFCF;
  background-color: white;
  color: #CFCFCF;
  margin: 0 auto;
  padding: 30px 0;
}

.circle span {
  font-size: 50px;
  font-weight: 700;
}

.circle sup {
  font-size: 20px;
  font-weight: 400;
}

.price ul {
  list-style-type: none;
  margin: 30px 0;
}

.price ul li {
  font-size: 23px;
  display: block;
  color: #6D6D6D;
  padding: 8px;
}

.price ul li:nth-child(2n) {
  background-color: #DADADA;
}

.price ul li:nth-child(2n+1) {
  background-color: #B8B8B8;
}

.price a {
  text-decoration: none;
  display: block;
  width: 150px;
  background-color: turquoise;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 115px;
}

.standard {
  background-color: turquoise;
  border: none;
}

.standard h2 {
  color: white;
}

.standard .circle {
  color: turquoise;
  border: none;
}

.standard a {
  background-color: white;
  color: turquoise;
  border: none;
}

.standard .small_circle {
  background-color: white;
  box-shadow: inset 0 0 0 15px turquoise;
  border: none;
}
