* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.main_width {
  width: 1200px;
  margin: 0 auto;
}

header, section, footer {
  width: 100%
}

/* HEADER */
header {
  background-color: black;
  height: 50px;
  color: white;
  text-transform: uppercase;
}

header #logo {
  float: left;
  padding-top: 15px;
}

header span {
  color: turquoise;
  font-weight: 700;
}

header nav {
  float: right;
  font-weight: 700;
  letter-spacing: 1px;
}

header ul li {
  display: inline-block;
  padding: 15px 20px;
}

header a {
  text-decoration: none;
  color: white;
}

/* SECTION 1 */

#slider {
  background: linear-gradient(white, #CFCFCF);
  height: 400px;
}

#slider .main_width > a {
  text-decoration: none;
  display: inline-block;
  padding-top: 150px;
  height: 400px;
  color: turquoise;
  font-size: 60px;
  vertical-align: top;
}

.box_left {
  width: 550px;
  height: 400px;
  display: inline-block;
  background-image: url("../images/black_chair.png");
  background-size: cover;
}

.box_right {
  width: 550px;
  height: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-right: 100px;
}

.box_right h1 {
  font-weight: 400;
  font-size: 30px;
  padding: 66px 0 25px 0;
}

.box_right h1 span {
  color: turquoise;
  font-weight: 700;
}

.box_right p {
  color: #7C7C7C;
  line-height: 25px;
  padding: 15px 0 45px 0;
}

.box_right a {
  text-decoration: none;
  text-align: center;
  background-color: turquoise;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
